<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>rspec-puppet</title>
        <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
        <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection, print" />
        <link rel="stylesheet" href="/css/solarized-light.css" type="text/css" media="screen, projection, print" />
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" />
        <![endif]-->
        <script type="text/javascript" src="http://use.typekit.com/lxp7mrv.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <div class="container showgrid">
            <div class="span-24" id="header">
                rspec-puppet
                <br />
                <span id="subtitle">
                    Behaviour testing framework for Puppet
                </span>
            </div>
            <div class="span-24 rounded-corners" id="nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/tutorial/">Tutorial</a>
                    </li>
                    <li>
                        <a href="/setup/">Setup</a>
                    </li>
                    <li>
                        <a href="/matchers/">Matchers</a>
                    </li>
                    <li>
                        <a href="/changelog/">Changelog</a>
                    </li>
                    <li>
                        <a href="https://github.com/rodjek/rspec-puppet/">Code</a>
                    </li>
                </ul>
            </div>
            <div class="span-24" id="content">
                {{ content }}
            </div>
        </div>
    </body>
</html>
