<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>rspec-puppet</title>
    
    <link rel="stylesheet" href="/css/minimal.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <script src="/js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>rspec-puppet</h1>
        <p>RSpec tests for your Puppet manifests</p>
        <p class="view"><a href="https://github.com/rodjek/rspec-puppet">View the Project on GitHub <small>rodjek/rspec-puppet</small></a></p>
        <ul>
          <li><a href="https://rubygems.org/gems/rspec-puppet/">Download <strong>Gem</strong></a></li>
          <li><a href="https://github.com/rspec-puppet/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/rodjek/rspec-puppet">Fork On <strong>GitHub</strong></a></li>
        </ul>
        <p class="view"><a href="/">Home</a></p>
        <p class="view"><a href="/tutorial/">Tutorial</a></p>
        <p class="view"><a href="/setup/">Setup</a></p>
        <p class="view"><a href="/matchers/">Matchers</a></p>
        <p class="view"><a href="/changelog/">Changelog</a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/rodjek">rodjek</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
